{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'static.css' %}">
    <title>Bem Vindo</title>
</head>
<body>
    <div class="container" align="center">
        <div class="jumbotron" align="center" style="width:350px; margin-top: 150px; height:380px;">
            <br><br><br>
            <div class="row align-items-center">
                <div class="col align-self-center">
                    <h1 align="center">Seja Bem Vindo</h1>
                </div>
            </div>
            <br>
            <div class="row align-items-center">
                <div class="col-sm">
                {% if user.is_authenticated %}
                    <h3>{{ user.username }}</h3>
                    <br>
                    <a href="{% url 'center' %}" class="btn btn-primary btn-block col-md" style="width:200px;">Entrar</a>
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-block col-md" style="width:200px;">Sair</a>
                {% else %}
                    <br>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-block col-md" style="width:200px;">Login</a>
                {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>
<nav class="navbar navbar-dark fixed-bottom bg-dark flex-md-nowrap p-0 shadow justify-content-center">
      <ul class="nav justify-content-center" >
         <a style="color: #fff;" href="https://www.linkedin.com/in/cristianraach" >Desenvolvido por Cristian Raach</a>
      </ul>
</nav>
</body>
</html>
