{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'static.css' %}">
    <title>Bem Vindo</title>
</head>
<body>
<br><br>
    <div class="container">
        <div class="jumbotron" align="center">
            <br>
            <div class="row align-items-center">
                <div class="col align-self-center">
                    <h1 align="center">Seja Bem Vindo</h1>
                </div>
            </div>
            <br>
            <div class="row align-items-center">
                <div class="col-sm">
                {% if user.is_authenticated %}
                    <p>Olá {{ user.username }}</p>
                    <a href="{% url 'logout' %}" class=" badge badge-dark">Sair</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary btn-block col-md-6">Entrar</a>
                {% endif %}
                </div>
            </div>
            <br>
        </div>
    </div>

</body>
</html>
