{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Novo Cliente {% endblock %}

{% block main %}

    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col">
                <h4>Novo Cliente</h4>
                <br>
            </div>
            <div class="col">
                <br>
            </div>
            <div class="col" align="right">
                <a href="{% url 'person_list' %}" class="btn btn-danger btn-block col-md-3">Voltar</a>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}